@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Brygada 1918", sans-serif;
    font-weight: 300;
    color: ;
    background-color: #9a9a9a;
}

div {
    padding: 0 10px 0 10px;
}

img {
    border: 1px solid #000;
    background-color: blue;
}

figcaption {
    font-size: x-small;
    text-align: center;
    color: #fafafa;
    font-style: italic;
}

/* ---------------------------------------------- header */

header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: inherit;
    top: 0;
    right: 0;
    z-index: 2;
}

/* ---------------------------------------------- logo top */

#logo1 {
    float: left;
    background-color: #9a9a9a;
    height: 60px;
    width: 150px;
    margin-left: 20rem;
    border: none;
}

/* ---------------------------------------------- navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 2px;
    line-height: 70px;
    text-align: center;
    margin-right: 20rem;
    float: right;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

#menu a:hover {
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
}

/* ---------------------------------------------- palace image */

#saxon-halfhalf-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#saxon-halfhalf-image {
    margin-top: 95px;
    height: 600px;
    width: 100%;
    background: url(../images/saxon-halfhalf.jpg) no-repeat center center;
    animation-name: saxon-halfhalf-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes saxon-halfhalf-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    color: #000;
    font-size: 150%;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 15px;

    background-color: rgba(255, 76, 60, 0.9);

    bottom: 30px;
    left: 150px;

    position: absolute;
}

/* ---------------------------------------------- short facts history */

.sections {
    max-width: 1076.9px;
    margin: 0 auto;
}

section div {
    padding-top: 10px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

section div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* ---------------------------------------------- video */

#video {
    text-align: center;
}


/* ---------------------------------------------- map */

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 720px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 720px;
}

#map_bottom {
    margin-bottom: 80px;
}

/* footer */

footer {
    width: 100%;
    height: 60px;
    background-color: inherit;
    position: fixed;
    bottom: 0;
    right: 0;    
    z-index: 2;
}

.mapouter2 {
    float:left;
    text-align: right;
    margin-left: 20rem;
    height: 60px;
    width: 150px;
}

.gmap_canvas2 {
    overflow: hidden;
    background: none !important;
    height: 60px;
    width: 150px;    
}

#social {
    width: 300px;
    height: 60px;
    font-size: 90%;
    letter-spacing: 2px;
    line-height: 80px;
    /* text-align: center; */
    /* margin: 0 auto; */
    border: 1px solid #000;
    /* width: 33%; */
}

#social li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

#social a {
    text-decoration: none;
    color: inherit;
}

#logo2 {
    float: right;
    margin-right: 20rem;
    background-color: #9a9a9a;
    height: 60px;
    width: 150px;
    border: none;    
}

/* ---------------------------------------------- timeline */

#timeline-pic {
    float: left;
    background-color: #9a9a9a;
    height: 60px;
    width: 150px;
    border: none; 
}

#timeline {
    margin-top: 100px;
    margin-left: 285px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background: #fafafa;
}

