@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Brygada 1918", sans-serif;
    font-weight: 300;
    color: black;
    background-color: silver;
}

/* logo top */

#logo1 {
    float: left;
    background-color: silver;
    height: 100px;
    width: 250px;
}

/* navigation links */

#menu{
    font-size: 90%;
    letter-spacing: 2px;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
}

/* palace image */

#saxon-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#saxon-image {
    height: 500px;
    width: 100%;
    background: url(../images/saxon-halfhalf.jpg) no-repeat center center;
    animation-name: saxon-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes saxon-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}