@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 18px;
    font-family: "Brygada 1918", sans-serif;
    font-weight: 300;
    color: #000;
    background-color: #9a9a9a;
}

div {
    padding: 0 10px 0 10px;
}

img {
    border: 1px solid #000;
    background-color: #9d433b;
    color: #fafafa;
    text-align: center;
    font-size: xxx-small;
}

figcaption {
    font-size: x-small;
    text-align: center;
    color: #fafafa;
    font-style: italic;
}


/* ---------------------------------------------- header */

header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: inherit;
    top: 0;
    right: 0;
    z-index: 2;
}

/* ---------------------------------------------- logo top */

#logo1 {
    float: left;
    background-color: #9a9a9a;
    height: 60px;
    width: 150px;
    margin-left: 20vw;
    border: none;
}

/* ---------------------------------------------- navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 2px;
    line-height: 30px;
    /* text-align: center; */
    margin-right: 20vw;
    list-style-type: none;

}

#menu li {
    /* display: inline-block; */
    float: right;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

#menu a:hover {

    border-top: 1px solid rgba(255, 76, 60, 0.9);
    border-bottom: 1px solid rgba(255, 76, 60, 0.9);
}

.active {
    border-top: 1px solid rgba(255, 76, 60, 0.9);
    border-bottom: 1px solid rgba(255, 76, 60, 0.9);
}

/* ---------------------------------------------- palace image */

#saxon-halfhalf-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#saxon-halfhalf-image {
    margin-top: 95px;
    height: 600px;
    width: 100%;
    background: url(../images/saxon-halfhalf.jpg) no-repeat center center;
    animation-name: saxon-halfhalf-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes saxon-halfhalf-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    color: #000;
    font-size: 150%;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 15px;

    background-color: rgba(255, 76, 60, 0.9);

    bottom: 30px;
    left: 150px;

    position: absolute;
}

/* ---------------------------------------------- short facts history */

.sections {
    max-width: 60%;
    margin: 0 auto;
}

section div {
    padding-top: 10px;
    text-align: justify;
    margin: 0 auto;
}

.media-pic {
    text-align: center;
}

/* ---------------------------------------------- video */

#video {
    text-align: center;
}

/* ---------------------------------------------- map big */

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 720px;
    padding: 0;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 720px;
    padding: 0;
}

#map_bottom {
    margin-bottom: 80px;
}

/* ---------------------------------------------- footer */

footer {
    width: 100%;
    height: 60px;
    background-color: inherit;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.inline-block {
    display: inline-block;
}

/* ---------------------------------------------- map small */

.mapouter2 {
    float: right;
    text-align: right;
    margin-right: 20vw;
    height: 55px;
    width: 150px;
    margin-top: 5px;
}

.gmap_canvas2 {
    overflow: hidden;
    background: none !important;
    height: 55px;
    width: 150px;
}

/* ---------------------------------------------- social links */

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 10px 0;
    border-radius: 50%;
    font-size: 12px;
    line-height: 7px;
    text-align: center;
    color: #000;
    background: inherit;
}

.social-links li a i:hover {
    background: rgba(255, 76, 60, 0.9);
}


/* ---------------------------------------------- logo bttm */

#logo2 {
    float: left;
    margin-left: 20vw;
    background-color: #9a9a9a;
    height: 60px;
    width: 150px;
    border: none;
}

/* ---------------------------------------------- timeline */

.timeline-pic {
    float: left;
    background-color: #9d433b;
    height: 60px;
    width: 60px;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
    object-fit: fill;
}

#timeline {
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 27rem;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px dashed;
}

.timeline-item p {
    max-width: 40rem;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background: #fafafa;
}

/* ---------------------------------------------- gallery */

#photo {
    margin-top: 65px;
    margin-bottom: 65px;
    clear: both;
    line-height: 0;
    column-count: 5;
    column-gap: 0;
}

#photo img {
    width: 100%;
}



/* ---------------------------------------------- contact */

#contact-form {
    margin-top: 120px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    height: 60px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
}

/* ---------------------------------------------- media queries */

@media screen and (max-width: 1393px) {

    #media {
        max-width: 80%;
        margin: 0 auto;
        font-size: 15px;
    }

    .media-pic {
        /* max-width: 70%; */
    }

    #photo {
        column-count: 3;
    }
}

@media screen and (max-width: 943px) {


    #menu {
        /* clear: left;
        float: left; */
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #media {
        margin: 0 auto;
        font-size: 12px;
        object-fit: fill;

    }

    .center-form {
        padding-top: 30px;
        margin: 0 auto;
        max-width: 50%;
    }

    #photo {
        column-count: 2;
    }
}

@media screen and (max-width: 800px) {

    #photo {
        column-count: 1;
    }
}